


<div class="columns">
    <div class="column"></div>
    <div class="column">
        <div class="box">
            
                        <div class="content">
                        <!-- Content -->
                            <% if @current_user %>
                                Logged in as <%= @current_user.name %>.
                                <%= button_to "Log out!", logout_path, method: :delete%><br/>
                            <% else %>
                                <a class="button is-rounded is-normal" href=/login>Log in</a><br/>
                                <br/>
                                <p>If you don't have an account <br/> <%= link_to "Create one!", signup_path %></p>
                            <% end %>
                        </div>
        </div>
    </div>
    <div class="column"></div>
</div>