<%= form_for @post do |f| %>
    <label class="label has-text-info	" style="margin-left:22%;">✨write something✨</label>
    <div class="field">
      <label class="label has-text-info	">location</label>
      <div class="control">
        <div class="select">
            <%= f.collection_select :location_id, Location.all, :id, :name %><br/>
        </div>
      </div>
    </div>
    <br/>
    <div class="field">
      <label class="label has-text-info	">start here...</label>
      <div class="control">
        <textarea name="post[content]" id="post_content" class="textarea" placeholder="start here..."></textarea>
      </div>
    </div>
    <button class="button is-info is-small">
      <span type="submit" name="commit" value="Create" data-disable-with="Create Post">submit</span>
    </button>
<% end %>